<h1>Introduction to Deep Learning & Neural Networks with Keras</h1>

<h2>Peer-graded Assignment: Build a Regression Model in Keras</h2>

<h3>Submission by Xander Mol</h3>

<b>Imports</b>

In [26]:
#Import statements
import pandas as pd
import numpy as np
import keras
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense

<b>Load, examine and prepare dataset</b>

In [2]:
#Load CSV set provided into a Pandas dataframe
concrete_data = pd.read_csv('https://cocl.us/concrete_data')

#Show first lines of result
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
#Show amount of data points
concrete_data.shape

(1030, 9)

In [4]:
#Show dataset statistics
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
#Check for missing values
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
#Split data into predictors and target
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
n_cols = predictors.shape[1] # number of predictors

<h3>Part A: Build a baseline model</h3>

<b>Building and testing the model</b>

In [9]:
#Define regression model given the requirement parameters:
#- One hidden layer of 10 nodes, and a ReLU activation function
#- The adam optimizer and the mean squared error as the loss function

def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

#Set loop for building baseline model 50 times with 50 random train/test splits

error = []

for x in range(50):
    
    #Create a train/test split using SciKitLearn function
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)
    
    #Build the model
    model = regression_model()

    #Fit the model
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    #Test the model
    y_pred = model.predict(X_test)
    error.append(mean_squared_error(y_test, y_pred))
    print('The Mean Squared Error on run {} is {}.'.format(x,error[x]))

The Mean Squared Error on run 0 is 255.41045981567794.
The Mean Squared Error on run 1 is 344.095991421802.
The Mean Squared Error on run 2 is 125.65801999513812.
The Mean Squared Error on run 3 is 138.78105112787512.
The Mean Squared Error on run 4 is 385.32902554598616.
The Mean Squared Error on run 5 is 297.11226211338715.
The Mean Squared Error on run 6 is 330.67506132498823.
The Mean Squared Error on run 7 is 205.7465356678943.
The Mean Squared Error on run 8 is 100.9209921891931.
The Mean Squared Error on run 9 is 113.63502807779125.
The Mean Squared Error on run 10 is 125.39678647441322.
The Mean Squared Error on run 11 is 213.57733565761146.
The Mean Squared Error on run 12 is 223.75607754267145.
The Mean Squared Error on run 13 is 109.4021548258976.
The Mean Squared Error on run 14 is 296.5381907373424.
The Mean Squared Error on run 15 is 106.17246106782247.
The Mean Squared Error on run 16 is 105.30500095920333.
The Mean Squared Error on run 17 is 102.15324337062951.
The Mean Squared Error on run 18 is 177.6201957167497.
The Mean Squared Error on run 19 is 602.071681283888.
The Mean Squared Error on run 20 is 503.9286315279919.
The Mean Squared Error on run 21 is 120.27307998371094.
The Mean Squared Error on run 22 is 105.46232586393882.
The Mean Squared Error on run 23 is 116.38101821785752.
The Mean Squared Error on run 24 is 831.5343206774556.
The Mean Squared Error on run 25 is 1171.0793499857268.
The Mean Squared Error on run 26 is 217.05307215133584.
The Mean Squared Error on run 27 is 193.40243970328393.
The Mean Squared Error on run 28 is 367.1868472617976.
The Mean Squared Error on run 29 is 121.17749957487949.
The Mean Squared Error on run 30 is 527.4533429622875.
The Mean Squared Error on run 31 is 245.18621972667978.
The Mean Squared Error on run 32 is 110.52224822069856.
The Mean Squared Error on run 33 is 145.45701757604863.
The Mean Squared Error on run 34 is 184.4871770431087.
The Mean Squared Error on run 35 is 92.30424183884996.
The Mean Squared Error on run 36 is 195.05546553323967.
The Mean Squared Error on run 37 is 532.8070286889421.
The Mean Squared Error on run 38 is 733.312116525238.
The Mean Squared Error on run 39 is 226.06702880496627.
The Mean Squared Error on run 40 is 110.15112843864998.
The Mean Squared Error on run 41 is 214.17699565082665.
The Mean Squared Error on run 42 is 124.94104494466627.
The Mean Squared Error on run 43 is 269.6837451090446.
The Mean Squared Error on run 44 is 140.90620103917698.
The Mean Squared Error on run 45 is 1387.5998154951033.
The Mean Squared Error on run 46 is 110.57076162674457.
The Mean Squared Error on run 47 is 108.60722376782016.
The Mean Squared Error on run 48 is 355.03511712901803.
The Mean Squared Error on run 49 is 1204.6669947427802.

<b>Calculate mean and standard deviations of errors</b>

In [10]:
print('The mean of the calculated Mean Squared Errors is {}'.format(np.mean(error)))
print('The standard deviation of the calculated Mean Squared Errors is {}'.format(np.std(error)))

The mean of the calculated Mean Squared Errors is 302.51654109455666
The standard deviation of the calculated Mean Squared Errors is 293.274290284197

<h3>Part B: Normalize the data</h3>

<b>Normalize the data</b>

In [11]:
#normalize the data by substracting the mean and dividing by the standard deviation.
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

<b>Repeat steps of part A, now with the normalized data.</b>

In [12]:
#Define regression model given the requirement parameters:
#- One hidden layer of 10 nodes, and a ReLU activation function
#- The adam optimizer and the mean squared error as the loss function

def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

#Set loop for building baseline model 50 times with 50 random train/test splits

errorB = []

for x in range(50):
    
    #Create a train/test split using SciKitLearn function
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
    
    #Build the model
    model = regression_model()

    #Fit the model
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    #Test the model
    y_pred = model.predict(X_test)
    errorB.append(mean_squared_error(y_test, y_pred))
    print('The Mean Squared Error on run {} is {}.'.format(x,errorB[x]))
    
print('The mean of the calculated Mean Squared Errors is {}'.format(np.mean(errorB)))
print('The standard deviation of the calculated Mean Squared Errors is {}'.format(np.std(errorB)))

The Mean Squared Error on run 0 is 308.6051466082772.
The Mean Squared Error on run 1 is 518.5970739640179.
The Mean Squared Error on run 2 is 259.83636650333915.
The Mean Squared Error on run 3 is 262.7961751774522.
The Mean Squared Error on run 4 is 347.52544647772527.
The Mean Squared Error on run 5 is 278.16250450133015.
The Mean Squared Error on run 6 is 402.6685292996889.
The Mean Squared Error on run 7 is 379.7382342358728.
The Mean Squared Error on run 8 is 294.8534523990761.
The Mean Squared Error on run 9 is 235.36170280704707.
The Mean Squared Error on run 10 is 260.88744868813006.
The Mean Squared Error on run 11 is 232.84275862859056.
The Mean Squared Error on run 12 is 251.25070839891225.
The Mean Squared Error on run 13 is 241.97782921551567.
The Mean Squared Error on run 14 is 285.5628803479116.
The Mean Squared Error on run 15 is 282.3559009303809.
The Mean Squared Error on run 16 is 449.39685882533854.
The Mean Squared Error on run 17 is 818.1808395249852.
The Mean Squared Error on run 18 is 274.5773455307649.
The Mean Squared Error on run 19 is 354.4033187134848.
The Mean Squared Error on run 20 is 378.297625773314.
The Mean Squared Error on run 21 is 254.16628810950783.
The Mean Squared Error on run 22 is 298.89137106489306.
The Mean Squared Error on run 23 is 242.62646014061883.
The Mean Squared Error on run 24 is 395.4025530334858.
The Mean Squared Error on run 25 is 305.0160587573147.
The Mean Squared Error on run 26 is 279.05286048648196.
The Mean Squared Error on run 27 is 423.43816838354854.
The Mean Squared Error on run 28 is 291.79812693147517.
The Mean Squared Error on run 29 is 287.63376397656464.
The Mean Squared Error on run 30 is 303.7424665690713.
The Mean Squared Error on run 31 is 333.8730375210995.
The Mean Squared Error on run 32 is 270.30871230900186.
The Mean Squared Error on run 33 is 275.8896447871606.
The Mean Squared Error on run 34 is 287.27857204170806.
The Mean Squared Error on run 35 is 232.56818037015293.
The Mean Squared Error on run 36 is 439.446220728898.
The Mean Squared Error on run 37 is 302.26357698400614.
The Mean Squared Error on run 38 is 271.571834236822.
The Mean Squared Error on run 39 is 272.26245568311685.
The Mean Squared Error on run 40 is 239.26924574108546.
The Mean Squared Error on run 41 is 289.9980710270504.
The Mean Squared Error on run 42 is 276.9943745012459.
The Mean Squared Error on run 43 is 279.5019791685781.
The Mean Squared Error on run 44 is 449.7100412474019.
The Mean Squared Error on run 45 is 448.8350615444833.
The Mean Squared Error on run 46 is 322.18983278080105.
The Mean Squared Error on run 47 is 311.0731170016302.
The Mean Squared Error on run 48 is 274.0444103062765.
The Mean Squared Error on run 49 is 277.609702497605.
The mean of the calculated Mean Squared Errors is 321.08668668964475
The standard deviation of the calculated Mean Squared Errors is 97.48876343743564

<b>Conclusion</b>

A: Not normalising the data on average does not create a higher MSE, but the spread of the MSE is much higher. Therefore, without normalising the risk of ending up with bad luck in splitting train and test data is much higher.
    
    
B: With normalised data, the MSE is not changing much (even increasing a bit on average here), but the spread gets much lower, much decreasing the risk of an unlucky train/test split.

<h3>Part C: Increate the number of epochs</h3>

<b>Repeat steps of part B, now with 100 epochs instead of 50.</b>

In [13]:
#Define regression model given the requirement parameters:
#- One hidden layer of 10 nodes, and a ReLU activation function
#- The adam optimizer and the mean squared error as the loss function

def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

#Set loop for building baseline model 50 times with 50 random train/test splits

errorC = []

for x in range(50):
    
    #Create a train/test split using SciKitLearn function
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
    
    #Build the model
    model = regression_model()

    #Fit the model
    model.fit(X_train, y_train, epochs=100, verbose=0)
    
    #Test the model
    y_pred = model.predict(X_test)
    errorC.append(mean_squared_error(y_test, y_pred))
    print('The Mean Squared Error on run {} is {}.'.format(x,errorC[x]))
    
print('The mean of the calculated Mean Squared Errors is {}'.format(np.mean(errorC)))
print('The standard deviation of the calculated Mean Squared Errors is {}'.format(np.std(errorC)))

The Mean Squared Error on run 0 is 164.70283542411582.
The Mean Squared Error on run 1 is 167.31431977087666.
The Mean Squared Error on run 2 is 147.64225578648353.
The Mean Squared Error on run 3 is 155.84248541633363.
The Mean Squared Error on run 4 is 176.12245454832367.
The Mean Squared Error on run 5 is 152.9303164686516.
The Mean Squared Error on run 6 is 175.13502732544626.
The Mean Squared Error on run 7 is 159.52822460861123.
The Mean Squared Error on run 8 is 144.82155597021543.
The Mean Squared Error on run 9 is 142.29354571410346.
The Mean Squared Error on run 10 is 167.6231660080155.
The Mean Squared Error on run 11 is 154.46874413345753.
The Mean Squared Error on run 12 is 160.98163496470775.
The Mean Squared Error on run 13 is 155.67840124298743.
The Mean Squared Error on run 14 is 159.61787813087162.
The Mean Squared Error on run 15 is 170.63777592106968.
The Mean Squared Error on run 16 is 151.5377538080527.
The Mean Squared Error on run 17 is 146.72958683801093.
The Mean Squared Error on run 18 is 148.60370030862092.
The Mean Squared Error on run 19 is 158.24739930097206.
The Mean Squared Error on run 20 is 146.35392785839136.
The Mean Squared Error on run 21 is 160.67787021109197.
The Mean Squared Error on run 22 is 146.49019531081944.
The Mean Squared Error on run 23 is 152.9240168285353.
The Mean Squared Error on run 24 is 146.02661203330229.
The Mean Squared Error on run 25 is 157.96190088626182.
The Mean Squared Error on run 26 is 145.06005125148167.
The Mean Squared Error on run 27 is 157.40054626374425.
The Mean Squared Error on run 28 is 154.5541133679203.
The Mean Squared Error on run 29 is 150.9256964351427.
The Mean Squared Error on run 30 is 159.03071978441338.
The Mean Squared Error on run 31 is 157.32605611938473.
The Mean Squared Error on run 32 is 150.61223132085192.
The Mean Squared Error on run 33 is 148.76958831715476.
The Mean Squared Error on run 34 is 170.50403704264468.
The Mean Squared Error on run 35 is 157.18562330226607.
The Mean Squared Error on run 36 is 187.4340347465505.
The Mean Squared Error on run 37 is 151.6997144393248.
The Mean Squared Error on run 38 is 149.87918737266602.
The Mean Squared Error on run 39 is 150.3222527741861.
The Mean Squared Error on run 40 is 162.78303284022977.
The Mean Squared Error on run 41 is 166.41647042485786.
The Mean Squared Error on run 42 is 160.32169861441818.
The Mean Squared Error on run 43 is 170.77123875928967.
The Mean Squared Error on run 44 is 164.58285098326687.
The Mean Squared Error on run 45 is 155.31842023817737.
The Mean Squared Error on run 46 is 170.44004498464065.
The Mean Squared Error on run 47 is 144.75528043173344.
The Mean Squared Error on run 48 is 157.97669387255607.
The Mean Squared Error on run 49 is 158.096562156536.
The mean of the calculated Mean Squared Errors is 157.46119461323534
The standard deviation of the calculated Mean Squared Errors is 9.470662170658576

<b>Conclusion:</b>
    
C: Increasing the epochs significantly decreased the average MSE, resulting average is half that of in part A and B. The spread is even decreased more dramatically, namely by tenfold. Conclusion is that the prediction quality of the model is significantly improving by increasing the epoch size compared to the base situation B

<h3>Part D: Increase the number of hidden layers</h3>

<b>Repeat steps of part B, now with three hidden layers, each of 10 nodes and ReLU activation function</b>

In [14]:
#Define regression model given the requirement parameters

def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

#Set loop for building baseline model 50 times with 50 random train/test splits

errorD = []

for x in range(50):
    
    #Create a train/test split using SciKitLearn function
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
    
    #Build the model
    model = regression_model()

    #Fit the model
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    #Test the model
    y_pred = model.predict(X_test)
    errorD.append(mean_squared_error(y_test, y_pred))
    print('The Mean Squared Error on run {} is {}.'.format(x,errorD[x]))
    
print('The mean of the calculated Mean Squared Errors is {}'.format(np.mean(errorD)))
print('The standard deviation of the calculated Mean Squared Errors is {}'.format(np.std(errorD)))

The Mean Squared Error on run 0 is 144.24521363651405.
The Mean Squared Error on run 1 is 143.92361396193485.
The Mean Squared Error on run 2 is 127.17493497170618.
The Mean Squared Error on run 3 is 119.89260025244563.
The Mean Squared Error on run 4 is 133.8050248938132.
The Mean Squared Error on run 5 is 128.78857266549446.
The Mean Squared Error on run 6 is 108.64030159542895.
The Mean Squared Error on run 7 is 86.18459737832804.
The Mean Squared Error on run 8 is 90.54050248921946.
The Mean Squared Error on run 9 is 123.05930688593575.
The Mean Squared Error on run 10 is 141.18233583368533.
The Mean Squared Error on run 11 is 142.12638578711883.
The Mean Squared Error on run 12 is 104.81863932069743.
The Mean Squared Error on run 13 is 133.37437009913407.
The Mean Squared Error on run 14 is 93.5314012640949.
The Mean Squared Error on run 15 is 132.4113716241138.
The Mean Squared Error on run 16 is 131.5045678614935.
The Mean Squared Error on run 17 is 143.19920949881296.
The Mean Squared Error on run 18 is 136.09385067542692.
The Mean Squared Error on run 19 is 125.21207576225332.
The Mean Squared Error on run 20 is 130.0118945632573.
The Mean Squared Error on run 21 is 129.55093626664944.
The Mean Squared Error on run 22 is 136.85780337813094.
The Mean Squared Error on run 23 is 135.06979604813517.
The Mean Squared Error on run 24 is 113.7385476910319.
The Mean Squared Error on run 25 is 106.49496707707937.
The Mean Squared Error on run 26 is 139.29340666917568.
The Mean Squared Error on run 27 is 112.37528436990686.
The Mean Squared Error on run 28 is 118.199524040432.
The Mean Squared Error on run 29 is 134.51092861456118.
The Mean Squared Error on run 30 is 128.51427318309644.
The Mean Squared Error on run 31 is 136.6000494490881.
The Mean Squared Error on run 32 is 106.26208854688518.
The Mean Squared Error on run 33 is 138.2184837492829.
The Mean Squared Error on run 34 is 114.59741439820317.
The Mean Squared Error on run 35 is 134.9221218459781.
The Mean Squared Error on run 36 is 132.76049326767722.
The Mean Squared Error on run 37 is 136.63143672769374.
The Mean Squared Error on run 38 is 99.43617592544466.
The Mean Squared Error on run 39 is 131.27018210999606.
The Mean Squared Error on run 40 is 133.45106652918236.
The Mean Squared Error on run 41 is 135.538522270504.
The Mean Squared Error on run 42 is 127.16317300471458.
The Mean Squared Error on run 43 is 129.26669499002634.
The Mean Squared Error on run 44 is 128.75838235669823.
The Mean Squared Error on run 45 is 94.68719246209353.
The Mean Squared Error on run 46 is 92.49544309680905.
The Mean Squared Error on run 47 is 95.55861761665192.
The Mean Squared Error on run 48 is 118.17780323571834.
The Mean Squared Error on run 49 is 127.15099057942666.
The mean of the calculated Mean Squared Errors is 123.74545141042364
The standard deviation of the calculated Mean Squared Errors is 15.78006581877118

<b>Conclusion:</b>
    
D: Adding additional hidden layers has a similar impact as increasing the epoch size. Adding layers has a slightly bigger impact on the average MSE, but spread is slightly increasing. Conclusion is that the prediction quality of the model is significantly improving by adding hidden layers compared to the base situation B.

<h3>Recap and conclusion</h3>

In [36]:
#Show table to summarise error stats per part of the assignment
errortable = [ ['A', np.mean(error), np.std(error)],
               ['B', np.mean(errorB), np.std(errorB)],
               ['C', np.mean(errorC), np.std(errorC)],
               ['D', np.mean(errorD), np.std(errorD)]]

errordf = pd.DataFrame(errortable, columns = ['Part', 'Mean MSE', 'Std MSE'])
errordf.set_index('Part')

        Mean MSE     Std MSE
Part
A     302.516541  293.274290
B     321.086687   97.488763
C     157.461195    9.470662
D     123.745451   15.780066

<b>Conclusion recap</b>

A: Not normalising the data on average does not create a higher MSE, but the spread of the MSE is much higher. Therefore, without normalising the risk of ending up with bad luck in splitting train and test data is much higher.

B: With normalised data, the MSE is not changing much (even increasing a bit on average here), but the spread gets much lower, much decreasing the risk of an unlucky train/test split.

C: Increasing the epochs significantly decreased the average MSE, resulting average is half that of in part A and B. The spread is even decreased more dramatically, namely by tenfold. Conclusion is that the prediction quality of the model is significantly improving by increasing the epoch size compared to the base situation B.

D: Adding additional hidden layers has a similar impact as increasing the epoch size. Adding layers has a slightly bigger impact on the average MSE, but spread is slightly increasing. Conclusion is that the prediction quality of the model is significantly improving by adding hidden layers compared to the base situation B.

Comparing C to D is showing that adding epochs has a similar impact than adding hidden layers, the one is not significantly better than the other. It might be worthwhile to test a combination of the two for further optimization.